---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import List from "../components/List.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout
  title="Tomso - Clone Starbucks"
  description="Clone Starbucks website using Astro and TailwindCSS"
  url="https://clone-starbucks-bay.vercel.app/"
>
  <Header />
  <Hero />
  <main>
    <List />
  </main>
</Layout>
