---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";

import CarouselSize from "../components/CarouselSize.jsx";

import "../styles/global.css";
---

<Layout
  title="Tomso - Clone Starbucks"
  description="Clone Starbucks website using Astro and TailwindCSS"
  url="https://clone-starbucks-bay.vercel.app/"
>
  <Header />
  <Hero />
  <main>
    <CarouselSize client:load />
  </main>
  <Footer />
</Layout>
