---

---

<footer class="mt-10 bg-white">
  <div class="container">
    <div class="text-center py-5">
      <p class="text-sm text-black">
        &copy; 2025&nbsp;<span
          class="text-[#0a412a] hover:underline cursor-pointer transition-all duration-500 font-semibold"
          >Starbucks Clone Coffe Company.&nbsp;</span
        >All rights reserved.
      </p>
    </div>
  </div>
</footer>
